/* RESET */
* {
  margin: 0;
  padding: 0;
}

/* FONT */
@font-face {
  font-family: "bebas-naue";
  src: url(../assets/fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}
nav {
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
nav li {
  list-style-type: none;
}
nav .nav__brand, nav .nav-link {
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-family: "bebas-naue";
}
nav .nav-list {
  display: flex;
  gap: 40px;
}
nav a:hover {
  color: rgba(204, 204, 204, 0.4784313725);
  transition: 0.3s;
}

footer {
  background-color: #191919;
  padding: 20px;
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-family: "bebas-naue";
  color: white;
  flex: 1;
}
footer img {
  width: 25px;
  object-fit: contain;
  margin-left: 15px;
}

h1 {
  font-family: "bebas-naue";
  text-align: center;
  margin-top: 10px;
  font-size: 70px;
  color: black;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.img-rey, .img-ursu {
  position: relative;
  display: inline-block;
}
.img-rey:hover, .img-ursu:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-family: "bebas-naue";
  font-size: 90px;
  padding: 10px;
  width: 200px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.img-rey:hover .img-text, .img-ursu:hover .img-text {
  opacity: 1;
}

.img-ursu:hover .img-text {
  opacity: 1;
}

h2 {
  font-family: "roboto";
  text-align: start;
  font-size: 50px;
  margin: 10px;
}

p {
  font-size: 16px;
  font-family: "roboto";
  margin: 10px;
  padding: 5px;
}

.rey-container, .ursu-container {
  display: flex;
  padding: 10px;
  border: 5px solid rgba(204, 204, 204, 0.4784313725);
}

.carousel {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
}
.carousel .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: carousel 15s infinite;
}
.carousel .slide:nth-child(1) {
  animation-delay: 0s;
}
.carousel .slide:nth-child(2) {
  animation-delay: 5s;
}
.carousel .slide:nth-child(3) {
  animation-delay: 10s;
}
.carousel .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes carousel {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
.carousel {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
}
.carousel .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: carousel 15s infinite;
}
.carousel .slide:nth-child(1) {
  animation-delay: 0s;
}
.carousel .slide:nth-child(2) {
  animation-delay: 5s;
}
.carousel .slide:nth-child(3) {
  animation-delay: 10s;
}
.carousel .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes carousel {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "bebas-naue";
  margin: 50px;
  margin-top: 20px;
  height: 600px;
  padding: 20px;
}

.mb-3 {
  margin-top: 20px;
}

.btn-primary {
  margin-top: 20px;
  background-color: #191919;
  border-color: #191919;
  color: white;
}
.btn-primary:hover {
  color: rgba(204, 204, 204, 0.4784313725);
  background-color: #191919;
  border-color: #191919;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}
.galeria img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.videos {
  display: grid;
  grid-row: span 2;
  padding: 10px;
}

/* MEDIAQUERIES */
@media only screen and (max-width: 900px) {
  .rey-container, .ursu-container, .imgrey, .imgursu {
    position: static;
    margin: 10px;
    flex-direction: column;
    object-fit: cover;
    justify-content: center;
  }
}
@media only screen and (max-width: 590px) {
  .rey-container, .ursu-container, .imgrey, .imgursu {
    position: static;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    object-fit: cover;
    font-size: 16px;
  }
}
@media only screen and (max-width: 590px) and (max-width: 500px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1119px) {
  .cards, .img-rey, .img-ursu {
    position: static;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 640px) {
  .img-rey, .img-ursu {
    position: static;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    object-fit: cover;
    font-size: 16px;
  }
}
@media only screen and (max-width: 1625px) {
  .galeria, .videos {
    display: flex;
    position: static;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 700px) {
  .galeria, .galeria img, .videos, .videos iframe {
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    object-fit: cover;
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
