@mixin flex ($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

h1 {
    font-family: 'bebas-naue';
    text-align: center;
    margin-top: 10px;
    font-size: 70px;
    color: $text-color;
}

.cards {
    @include flex(space-around, center);
    padding: 50px;
}

.img-rey {
    position: relative;
    display: inline-block;
    &:hover {
        transform: scale(1.1);
        transition: .3s;
    }
}

.img-ursu {
    @extend .img-rey;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    color: $color-secondary;
    font-family: 'bebas-naue';
    font-size: 90px;
    padding: 10px;
    width: 200px;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s;
}

.img-rey:hover .img-text {
    opacity: 1;
}

.img-text {
    @extend .img-text;
}

.img-ursu:hover .img-text {
    opacity: 1;
}

h2 {
    font-family: 'roboto';
    text-align: start;
    font-size: 50px;
    margin: 10px;
}

p {
    font-size: 16px;
    font-family: 'roboto';
    margin: 10px;
    padding: 5px;
}